{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <h1>{{ title }}</h1>
    <h1>Hello, world we are working!</h1>
    <div class="row">
      <div class="col">
          <p>{{ premium_content }} </p>
      </div>
       -->
    </div>
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">{{ title }}</h1>
        <p class="lead">{{ premium_content }}</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">About J-Kart</h2>
    <p>What you wear - and it always starts with your shoes - determines what kind of character you are. A woman who wears high heels carries herself very different to a girl who wears sneakers or sandals. It really helps determine how you carry yourself.</p>
  </div>
</section>
    
{% endblock %}


